<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>189</key>
	<dict>
		<key>smtpAuthType</key>
		<integer>0</integer>
		<key>fetchMailHost</key>
		<string>imap.189.cn</string>
		<key>fetchMailPort</key>
		<integer>143</integer>
		<key>sendMailHost</key>
		<string>smtp.189.cn</string>
		<key>sendMailPort</key>
		<integer>25</integer>
		<key>mailStoreProtocol</key>
		<string>imap</string>
		<key>serverName</key>
		<string>189.cn</string>
		<key>ssl</key>
		<false/>
	</dict>
	<key>sina</key>
	<dict>
		<key>smtpAuthType</key>
		<integer>2</integer>
		<key>fetchMailHost</key>
		<string>imap.sina.com</string>
		<key>fetchMailPort</key>
		<integer>993</integer>
		<key>sendMailHost</key>
		<string>smtp.sina.com</string>
		<key>sendMailPort</key>
		<integer>25</integer>
		<key>mailStoreProtocol</key>
		<string>imap</string>
		<key>serverName</key>
		<string>sina.com</string>
		<key>ssl</key>
		<true/>
	</dict>
	<key>qq</key>
	<dict>
		<key>smtpAuthType</key>
		<integer>2</integer>
		<key>fetchMailHost</key>
		<string>imap.qq.com</string>
		<key>fetchMailPort</key>
		<integer>993</integer>
		<key>sendMailHost</key>
		<string>smtp.qq.com</string>
		<key>sendMailPort</key>
		<integer>25</integer>
		<key>mailStoreProtocol</key>
		<string>imap</string>
		<key>serverName</key>
		<string>qq.com</string>
		<key>ssl</key>
		<true/>
	</dict>
	<key>163</key>
	<dict>
		<key>fetchMailHost</key>
		<string>imap.163.com</string>
		<key>fetchMailPort</key>
		<integer>993</integer>
		<key>sendMailHost</key>
		<string>smtp.163.com</string>
		<key>sendMailPort</key>
		<integer>25</integer>
		<key>mailStoreProtocol</key>
		<string>imap</string>
		<key>serverName</key>
		<string>163.com</string>
		<key>ssl</key>
		<true/>
		<key>smtpAuthType</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
